/* Write your media queries and flexbox CSS below */
.site-header__checkout {
  align-self: center;
}

@media screen and (min-width: 480px) {
  nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
}

@media screen and (min-width: 700px) {
  header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (min-width: 992px) {
  header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
}
