/* Add your own CSS code below */

@media screen and (min-width: 992px) {
  .hero__title {
    font-size: 3.2rem;
  }
}

.main-nav ul {
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 767px) {
  header.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
