/* Add your own CSS code below */
ul.countries {
  display: flex;
}

ul.countries--second {
  flex-direction: column;
}
ul.countries--first {
  flex-direction: row-reverse;
}
ul.countries--third {
  flex-direction: column-reverse;
}
