/* Add your own CSS code below */
ul.countries.countries--first {
  display: flex;
  flex-direction: row-reverse;
}

ul.countries.countries--third {
  display: flex;
  flex-direction: column-reverse;
}
